

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Movie Added! Thank you.";
}

@model MovieApp.Models.ApplicationResponse

<h2>
    Congratulations! We've added the movie to your movie list! Please click on the link to view your list.
</h2>


<img src="https://media.tenor.com/images/06323b78e3ace87c29ee0e3028820366/tenor.gif" width="1000"/>

<br />
<br />

<div>
    <h2>Click <a asp-action="DisplayMovie">here</a> to see movie list.</h2>
</div>