@{
    ViewBag.Title = "MovieApp (Film Collection)";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>

    <br />

    <p>
        Welcome to this awesome website, where you can add all your favorite movies.
        You can go to the AddMovie page to add your favorite movies.
    </p>

    <img src="~/JoelHilton.jpg" width="800" />

</div>




